@charset "utf-8";

html {
    height: 100%;
}

body {}

button {
    background-color: transparent;
    border: transparent;
}

a {
    text-decoration: none;
    color: #000080;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/* header */

header {
    position: relative;
    height: 90px;
    background: #186AC9;
}

.atlas-logo {
    display: inline-block;
    margin: 10px, 0, 0, 10px;
}

.atlas-logo img {
    width: 100%;
    height: 60px;
    object-fit: contain;
}

#head {
    display: flex;
}


/*メニューボタンについて*/
.menu-btn {
    width: 30px;
    height: 40px;
    position: relative;
    /*top: 1px;
    right: 1px;*/
    cursor: pointer;
    outline: initial;
}

.menu-btn .inn {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.menu-btn .inn:before {
    position: absolute;
    content: "";
    top: 40%;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -40%) rotate(135deg);
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transition: 0.3s ease;
}

.menu-btn.is-open .inn:before {
    top: 60%;
    transform: translate(-50%, -60%) rotate(-45deg);
}

.menu {
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);
    color: #C0C0C0;
}

.menu ul {
    border: 1px solid #000080;
}

.menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 120px;
    border-top: 1px solid #000;
    background-color: #fff;
}

.menu ul li:hover {
    color: #fff;
    background-color: #000080;
}

.menu ul li a {
    display: block;
    padding: 20px 0;
    cursor: pointer;
}

.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: visible;

}

/*↑ここまでメニューボタンについて*/

/*投稿についてのCSS*/
.my-post {
    display: flex;
}

.send-btn {
    width: 45px;
    border-radius: 5px;
}

.edit-btn,
.trash-btn {
    width: 30px
}

.search-btn {
    width: 50px;
    border-radius: 3px;
    object-fit: cover;
}

/* 削除ボタン */
/* 画像の親要素のスタイル */
.box {
    cursor: pointer;
    position: relative;
}

/* 画像のスタイル */
.box img {
    height: auto;
    left: 0;
    position: absolute;
}

.box img:last-of-type {
    opacity: 0;
    transition: opacity .7s;
}

.box:hover img {
    opacity: 1;
}

/* ↑ここまで削除ボタンについてのCSS */


.post-block li {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
}

.post-content {
    width: 100%;
    padding: 15px;
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}

/* 投稿の編集（モーダル） */
.edit-modal {
    margin: 0 auto;
    /*padding: 40px;*/
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* プロフィール編集 */
.edit-profile {
    display: block;
}
